/*
 * Copyright (C) barebox.org
 */

html,
body {
    height: 100%;
    background-color: #333;
    background-color: #556270;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#shadow {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

#wrapper {
    position:relative;
    z-index: 1;
    margin: 0 auto;
    display: table;
    height: 100%;
}

#logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 1em;
}

@media (min-width: 750px) {
    #wrapper {
        max-width: 50em;
    }

    #logo {
        width: 400px;
        margin-bottom: 2em;
    }
}

#inner {
    height: 100%;
}

@media screen and (min-width: 750px) {
    #inner {
        display: table-cell;
        vertical-align: middle;
    }
}

a.btn.btn-default {
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #28343A;
    border-color: #97A4AD;
    color: #ffffff;
    font-weight: bold;
}

a.btn.btn-default:last-child {
    margin-right: 0 !important;
}

a.try {
    color: #ADD8E6;
    font-weight: bold;
}

p.text {
    padding: 0 1em;
}

footer a,
footer a:focus,
footer a:hover {
    color: #fff;
    font-weight: bold;
}
